---
import '@/styles/globals.css';
import Home from "@/components/Home.tsx";
import type { Drink } from "@/components/Home.tsx";
const res = await fetch('https://gist.githubusercontent.com/fessehaye/3d2f70ef5fc983087612d25e9f5fa586/raw/0701bc641fb390fc3e6cd5cccf394bfe39ddfc4d/drinks.json')
const data = await res.json() as Drink[];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://rsms.me/">
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
		<meta name="google-site-verification" content="_KbKEBxWFpEiHm68PAVBe1DsM3upkYSIDtl4uDMNuBA" />
		<title>Hot Chocolate Passport</title>
		<meta name="title" content="Hot Chocolate Passport" />
		<meta name="description" content="Bookmark, Search and record the drinks you are trying for the 2024 greater vancouver hot chocolate festival. " />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://metatags.io/" />
		<meta property="og:title" content="Hot Chocolate Passport" />
		<meta property="og:description" content="Bookmark, Search and record the drinks you are trying for the 2024 greater vancouver hot chocolate festival. " />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://metatags.io/" />
		<meta property="twitter:title" content="Hot Chocolate Passport" />
		<meta property="twitter:description" content="Bookmark, Search and record the drinks you are trying for the 2024 greater vancouver hot chocolate festival. " />

		<!-- Meta Tags Generated with https://metatags.io -->
	</head>
	<body class="bg-slate-100">
		<div class="container relative">
			<Home drinks={data} client:only />
		</div>
	</body>
</html>
